# Hey team, duplicate this file, rename it to .env, and paste your credentials below!
MONGO_URI=mongodb+srv://<YOUR_USERNAME>:<YOUR_PASSWORD>@sharlock-cluster.xxxxx.mongodb.net/sharlockDB?retryWrites=true&w=majority
